function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push pointer 0
push this 0
call Square.dispose 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
not
if-goto __SquareGame_0_END-IF
push pointer 0
push this 0
call Square.moveUp 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
goto __SquareGame_0_END-ELSE
label __SquareGame_0_END-IF
label __SquareGame_0_END-ELSE
push this 1
push constant 2
eq
not
if-goto __SquareGame_1_END-IF
push pointer 0
push this 0
call Square.moveDown 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
goto __SquareGame_1_END-ELSE
label __SquareGame_1_END-IF
label __SquareGame_1_END-ELSE
push this 1
push constant 3
eq
not
if-goto __SquareGame_2_END-IF
push pointer 0
push this 0
call Square.moveLeft 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
goto __SquareGame_2_END-ELSE
label __SquareGame_2_END-IF
label __SquareGame_2_END-ELSE
push this 1
push constant 4
eq
not
if-goto __SquareGame_3_END-IF
push pointer 0
push this 0
call Square.moveRight 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
goto __SquareGame_3_END-ELSE
label __SquareGame_3_END-IF
label __SquareGame_3_END-ELSE
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label __SquareGame_4_WHILE-START
push local 1
not
not
if-goto __SquareGame_4_WHILE-END
label __SquareGame_5_WHILE-START
push local 0
push constant 0
eq
not
if-goto __SquareGame_5_WHILE-END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto __SquareGame_5_WHILE-START
label __SquareGame_5_WHILE-END
push local 0
push constant 81
eq
not
if-goto __SquareGame_6_END-IF
push constant 1
neg
pop local 1
goto __SquareGame_6_END-ELSE
label __SquareGame_6_END-IF
label __SquareGame_6_END-ELSE
push local 0
push constant 90
eq
not
if-goto __SquareGame_7_END-IF
push pointer 0
push this 0
call Square.decSize 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
goto __SquareGame_7_END-ELSE
label __SquareGame_7_END-IF
label __SquareGame_7_END-ELSE
push local 0
push constant 88
eq
not
if-goto __SquareGame_8_END-IF
push pointer 0
push this 0
call Square.incSize 1
pop temp 0
pop pointer 0
push temp 0
pop temp 0
goto __SquareGame_8_END-ELSE
label __SquareGame_8_END-IF
label __SquareGame_8_END-ELSE
push local 0
push constant 131
eq
not
if-goto __SquareGame_9_END-IF
push constant 1
pop this 1
goto __SquareGame_9_END-ELSE
label __SquareGame_9_END-IF
label __SquareGame_9_END-ELSE
push local 0
push constant 133
eq
not
if-goto __SquareGame_10_END-IF
push constant 2
pop this 1
goto __SquareGame_10_END-ELSE
label __SquareGame_10_END-IF
label __SquareGame_10_END-ELSE
push local 0
push constant 130
eq
not
if-goto __SquareGame_11_END-IF
push constant 3
pop this 1
goto __SquareGame_11_END-ELSE
label __SquareGame_11_END-IF
label __SquareGame_11_END-ELSE
push local 0
push constant 132
eq
not
if-goto __SquareGame_12_END-IF
push constant 4
pop this 1
goto __SquareGame_12_END-ELSE
label __SquareGame_12_END-IF
label __SquareGame_12_END-ELSE
label __SquareGame_13_WHILE-START
push local 0
push constant 0
eq
not
not
if-goto __SquareGame_13_WHILE-END
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto __SquareGame_13_WHILE-START
label __SquareGame_13_WHILE-END
goto __SquareGame_4_WHILE-START
label __SquareGame_4_WHILE-END
push constant 0
return
